# Data Wrangling for datasets | ADSE 2025

### Correlate Anemia Prevalence, Poverty level, and Malnutrition prevalence

In [4]:
import pandas as pd
import numpy as np
import os
import sys
import scipy
import scipy.stats as stats
import seaborn as sns
import matplotlib.pyplot as plt

#### Anemia Prevalence, 5 and under

In [5]:
Anemia_U5 = pd.read_csv(r'C:\Users\Leon Pascual\Documents\GitHub\CPE311_Computational-Thinking-with-Python\Final\ADSE\datasets\API_SH.ANM.CHLD.ZS_DS2_en_csv_v2_104143\PVA_U5.csv', skiprows=4)
Anemia_U5.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,Unnamed: 69
0,Aruba,ABW,Prevalence of anemia among children (% of chil...,SH.ANM.CHLD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Prevalence of anemia among children (% of chil...,SH.ANM.CHLD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,54.172067,54.293680,54.361880,54.445964,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,Prevalence of anemia among children (% of chil...,SH.ANM.CHLD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,43.900000,44.200000,44.500000,44.900000,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa Western and Central,AFW,Prevalence of anemia among children (% of chil...,SH.ANM.CHLD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,71.500043,70.826525,69.992481,69.070796,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,AGO,Prevalence of anemia among children (% of chil...,SH.ANM.CHLD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,61.900000,62.100000,62.300000,62.400000,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# drop empty columns
Anemia_U5 = Anemia_U5.drop(['1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999'], axis=1)

In [7]:
southeast_asia = [
    "Brunei Darussalam",
    "Cambodia",
    "Indonesia",
    "Lao PDR",
    "Malaysia",
    "Myanmar",
    "Philippines",
    "Singapore",
    "Thailand",
    "Timor-Leste",
    "Viet Nam"
]
# filter SEA countries
SEA_Anemia_U5 = Anemia_U5.query("`Country Name` in @southeast_asia")
SEA_Anemia_U5.head(15)

,Country Name,Country Code,Indicator Name,Indicator Code,2000,2001,2002,2003,2004,2005,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,Unnamed: 69
31,Brunei Darussalam,BRN,Prevalence of anemia among children (% of chil...,SH.ANM.CHLD.ZS,17.0,16.7,16.6,16.7,16.6,16.7,...,18.2,18.8,19.3,20.0,NaN,NaN,NaN,NaN,NaN,NaN
106,Indonesia,IDN,Prevalence of anemia among children (% of chil...,SH.ANM.CHLD.ZS,43.9,43.0,42.1,41.2,40.5,39.8,...,37.8,38.0,38.2,38.4,NaN,NaN,NaN,NaN,NaN,NaN
123,Cambodia,KHM,Prevalence of anemia among children (% of chil...,SH.ANM.CHLD.ZS,65.9,64.8,63.6,62.4,61.3,60.3,...,50.9,50.3,49.6,49.0,NaN,NaN,NaN,NaN,NaN,NaN
129,Lao PDR,LAO,Prevalence of anemia among children (% of chil...,SH.ANM.CHLD.ZS,50.2,49.3,48.4,47.7,46.9,46.2,...,41.4,41.3,41.3,41.4,NaN,NaN,NaN,NaN,NaN,NaN
160,Myanmar,MMR,Prevalence of anemia among children (% of chil...,SH.ANM.CHLD.ZS,57.5,56.6,55.8,55.0,54.2,53.5,...,49.6,49.6,49.6,49.6,NaN,NaN,NaN,NaN,NaN,NaN
169,Malaysia,MYS,Prevalence of anemia among children (% of chil...,SH.ANM.CHLD.ZS,20.2,19.8,19.6,19.4,19.4,19.5,...,22.5,23.1,23.8,24.6,NaN,NaN,NaN,NaN,NaN,NaN
187,Philippines,PHL,Prevalence of anemia among children (% of chil...,SH.ANM.CHLD.ZS,35.0,34.0,32.9,31.8,30.6,29.2,...,14.7,14.2,13.8,13.5,NaN,NaN,NaN,NaN,NaN,NaN
208,Singapore,SGP,Prevalence of anemia among children (% of chil...,SH.ANM.CHLD.ZS,11.4,11.2,11.1,11.1,11.1,11.1,...,12.6,12.9,13.2,13.5,NaN,NaN,NaN,NaN,NaN,NaN
233,Thailand,THA,Prevalence of anemia among children (% of chil...,SH.ANM.CHLD.ZS,26.5,26.2,26.0,25.7,25.4,25.2,...,24.5,24.6,24.7,24.9,NaN,NaN,NaN,NaN,NaN,NaN
237,Timor-Leste,TLS,Prevalence of anemia among children (% of chil...,SH.ANM.CHLD.ZS,51.3,49.9,48.7,47.7,46.8,46.3,...,46.0,46.1,46.1,46.3,NaN,NaN,NaN,NaN,NaN,NaN
257,Viet Nam,VNM,Prevalence of anemia among children (% of chil...,SH.ANM.CHLD.ZS,33.6,32.2,30.8,29.5,28.2,26.9,...,21.6,21.9,22.4,22.9,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
# melt dataframe to merge column values together
SEA_Anemia_U5_melted = SEA_Anemia_U5.melt(id_vars=["Country Name", "Country Code", "Indicator Name", "Indicator Code"], 
                                   var_name="Year", 
                                   value_name="Value"
                                   )

SEA_Anemia_U5_melted = SEA_Anemia_U5_melted[SEA_Anemia_U5_melted["Year"].str.isdigit()]
SEA_Anemia_U5_melted["Year"] = SEA_Anemia_U5_melted["Year"].astype(int)

SEA_Anemia_U5_melted.sort_values(by=["Year","Country Name"])
SEA_Anemia_U5_melted

,Country Name,Country Code,Indicator Name,Indicator Code,Year,Value
0,Brunei Darussalam,BRN,Prevalence of anemia among children (% of chil...,SH.ANM.CHLD.ZS,2000,17.0
1,Indonesia,IDN,Prevalence of anemia among children (% of chil...,SH.ANM.CHLD.ZS,2000,43.9
2,Cambodia,KHM,Prevalence of anemia among children (% of chil...,SH.ANM.CHLD.ZS,2000,65.9
3,Lao PDR,LAO,Prevalence of anemia among children (% of chil...,SH.ANM.CHLD.ZS,2000,50.2
4,Myanmar,MMR,Prevalence of anemia among children (% of chil...,SH.ANM.CHLD.ZS,2000,57.5
...,...,...,...,...,...,...
270,Philippines,PHL,Prevalence of anemia among children (% of chil...,SH.ANM.CHLD.ZS,2024,NaN
271,Singapore,SGP,Prevalence of anemia among children (% of chil...,SH.ANM.CHLD.ZS,2024,NaN
272,Thailand,THA,Prevalence of anemia among children (% of chil...,SH.ANM.CHLD.ZS,2024,NaN
273,Timor-Leste,TLS,Prevalence of anemia among children (% of chil...,SH.ANM.CHLD.ZS,2024,NaN
274,Viet Nam,VNM,Prevalence of anemia among children (% of chil...,SH.ANM.CHLD.ZS,2024,NaN

In [26]:
# remove rows w/ missing values
SEA_Anemia_U5_melted = SEA_Anemia_U5_melted.dropna()
SEA_Anemia_U5_melted

,Country Name,Country Code,Indicator Name,Indicator Code,Year,Value
0,Brunei Darussalam,BRN,Prevalence of anemia among children (% of chil...,SH.ANM.CHLD.ZS,2000,17.0
1,Indonesia,IDN,Prevalence of anemia among children (% of chil...,SH.ANM.CHLD.ZS,2000,43.9
2,Cambodia,KHM,Prevalence of anemia among children (% of chil...,SH.ANM.CHLD.ZS,2000,65.9
3,Lao PDR,LAO,Prevalence of anemia among children (% of chil...,SH.ANM.CHLD.ZS,2000,50.2
4,Myanmar,MMR,Prevalence of anemia among children (% of chil...,SH.ANM.CHLD.ZS,2000,57.5
...,...,...,...,...,...,...
215,Philippines,PHL,Prevalence of anemia among children (% of chil...,SH.ANM.CHLD.ZS,2019,13.5
216,Singapore,SGP,Prevalence of anemia among children (% of chil...,SH.ANM.CHLD.ZS,2019,13.5
217,Thailand,THA,Prevalence of anemia among children (% of chil...,SH.ANM.CHLD.ZS,2019,24.9
218,Timor-Leste,TLS,Prevalence of anemia among children (% of chil...,SH.ANM.CHLD.ZS,2019,46.3
219,Viet Nam,VNM,Prevalence of anemia among children (% of chil...,SH.ANM.CHLD.ZS,2019,22.9

In [30]:
SEA_Anemia_U5_melted.dtypes

Country Name       object
Country Code       object
Indicator Name     object
Indicator Code     object
Year                int32
Value             float64
dtype: object

In [44]:
yearly_averages = SEA_Anemia_U5_melted.groupby('Year', as_index=False)['Value'].mean()

avg_rows = pd.DataFrame({
    'Country Name': 'Average',
    'Country Code': 'AVG',
    'Indicator Name': 'Prevalence of anemia among children (% of children ages 6-59 months)',
    'Indicator Code': 'SH.ANM.CHLD.ZS',
    'Year': yearly_averages['Year'],
    'Value': yearly_averages['Value']
})

df_with_averages = pd.concat([SEA_Anemia_U5_melted, avg_rows], ignore_index=True)

# Round the Value column
df_with_averages['Value'] = df_with_averages['Value'].round(2)

# Optional: sort by year
df_with_averages = df_with_averages.sort_values(by='Year')

df_with_averages.query("`Country Name` == 'Average'")

,Country Name,Country Code,Indicator Name,Indicator Code,Year,Value,Year_Date
220,Average,AVG,Prevalence of anemia among children (% of chil...,SH.ANM.CHLD.ZS,2000,37.50,NaT
221,Average,AVG,Prevalence of anemia among children (% of chil...,SH.ANM.CHLD.ZS,2001,36.70,NaT
222,Average,AVG,Prevalence of anemia among children (% of chil...,SH.ANM.CHLD.ZS,2002,35.96,NaT
223,Average,AVG,Prevalence of anemia among children (% of chil...,SH.ANM.CHLD.ZS,2003,35.29,NaT
224,Average,AVG,Prevalence of anemia among children (% of chil...,SH.ANM.CHLD.ZS,2004,34.64,NaT
225,Average,AVG,Prevalence of anemia among children (% of chil...,SH.ANM.CHLD.ZS,2005,34.06,NaT
226,Average,AVG,Prevalence of anemia among children (% of chil...,SH.ANM.CHLD.ZS,2006,33.51,NaT
227,Average,AVG,Prevalence of anemia among children (% of chil...,SH.ANM.CHLD.ZS,2007,32.95,NaT
228,Average,AVG,Prevalence of anemia among children (% of chil...,SH.ANM.CHLD.ZS,2008,32.37,NaT
229,Average,AVG,Prevalence of anemia among children (% of chil...,SH.ANM.CHLD.ZS,2009,31.87,NaT
230,Average,AVG,Prevalence of anemia among children (% of chil...,SH.ANM.CHLD.ZS,2010,31.49,NaT
231,Average,AVG,Prevalence of anemia among children (% of chil...,SH.ANM.CHLD.ZS,2011,31.15,NaT
232,Average,AVG,Prevalence of anemia among children (% of chil...,SH.ANM.CHLD.ZS,2012,30.92,NaT
233,Average,AVG,Prevalence of anemia among children (% of chil...,SH.ANM.CHLD.ZS,2013,30.79,NaT
234,Average,AVG,Prevalence of anemia among children (% of chil...,SH.ANM.CHLD.ZS,2014,30.77,NaT
235,Average,AVG,Prevalence of anemia among children (% of chil...,SH.ANM.CHLD.ZS,2015,30.82,NaT
236,Average,AVG,Prevalence of anemia among children (% of chil...,SH.ANM.CHLD.ZS,2016,30.89,NaT
237,Average,AVG,Prevalence of anemia among children (% of chil...,SH.ANM.CHLD.ZS,2017,30.98,NaT
238,Average,AVG,Prevalence of anemia among children (% of chil...,SH.ANM.CHLD.ZS,2018,31.09,NaT
239,Average,AVG,Prevalence of anemia among children (% of chil...,SH.ANM.CHLD.ZS,2019,31.28,NaT

In [46]:
df_with_averages['Year_Date'] = pd.to_datetime(df_with_averages['Year'].astype(str) + '-01-01')

In [49]:
SEA_Anemia_U5_with_averages = df_with_averages
SEA_Anemia_U5_with_averages.head(15)

,Country Name,Country Code,Indicator Name,Indicator Code,Year,Value,Year_Date
0,Brunei Darussalam,BRN,Prevalence of anemia among children (% of chil...,SH.ANM.CHLD.ZS,2000,17.0,2000-01-01
10,Viet Nam,VNM,Prevalence of anemia among children (% of chil...,SH.ANM.CHLD.ZS,2000,33.6,2000-01-01
9,Timor-Leste,TLS,Prevalence of anemia among children (% of chil...,SH.ANM.CHLD.ZS,2000,51.3,2000-01-01
8,Thailand,THA,Prevalence of anemia among children (% of chil...,SH.ANM.CHLD.ZS,2000,26.5,2000-01-01
7,Singapore,SGP,Prevalence of anemia among children (% of chil...,SH.ANM.CHLD.ZS,2000,11.4,2000-01-01
6,Philippines,PHL,Prevalence of anemia among children (% of chil...,SH.ANM.CHLD.ZS,2000,35.0,2000-01-01
220,Average,AVG,Prevalence of anemia among children (% of chil...,SH.ANM.CHLD.ZS,2000,37.5,2000-01-01
4,Myanmar,MMR,Prevalence of anemia among children (% of chil...,SH.ANM.CHLD.ZS,2000,57.5,2000-01-01
1,Indonesia,IDN,Prevalence of anemia among children (% of chil...,SH.ANM.CHLD.ZS,2000,43.9,2000-01-01
5,Malaysia,MYS,Prevalence of anemia among children (% of chil...,SH.ANM.CHLD.ZS,2000,20.2,2000-01-01
3,Lao PDR,LAO,Prevalence of anemia among children (% of chil...,SH.ANM.CHLD.ZS,2000,50.2,2000-01-01
2,Cambodia,KHM,Prevalence of anemia among children (% of chil...,SH.ANM.CHLD.ZS,2000,65.9,2000-01-01
221,Average,AVG,Prevalence of anemia among children (% of chil...,SH.ANM.CHLD.ZS,2001,36.7,2001-01-01
21,Viet Nam,VNM,Prevalence of anemia among children (% of chil...,SH.ANM.CHLD.ZS,2001,32.2,2001-01-01
20,Timor-Leste,TLS,Prevalence of anemia among children (% of chil...,SH.ANM.CHLD.ZS,2001,49.9,2001-01-01

In [50]:
SEA_Anemia_U5_with_averages.to_csv(r'C:\Users\Leon Pascual\Documents\GitHub\CPE311_Computational-Thinking-with-Python\Final\ADSE\datasets\exported\SEA_Anemia_U5_with_averages.csv', index=False)

#### Anemia Prevalence, women of reproductive age

In [11]:
Anemia_Women = pd.read_csv(r'C:\Users\Leon Pascual\Documents\GitHub\CPE311_Computational-Thinking-with-Python\Final\ADSE\datasets\PVA_WRA_PREG.csv')
Anemia_Women.head()

,IndicatorCode,Indicator,ValueType,ParentLocationCode,ParentLocation,Location type,SpatialDimValueCode,Location,Period type,Period,...,FactValueUoM,FactValueNumericLowPrefix,FactValueNumericLow,FactValueNumericHighPrefix,FactValueNumericHigh,Value,FactValueTranslationID,FactComments,Language,DateModified
0,NUTRITION_ANAEMIA_REPRODUCTIVEAGE_PREV,Prevalence of anaemia in women of reproductive...,text,AMR,Americas,Country,GTM,Guatemala,Year,2023,...,NaN,NaN,5.2,NaN,17.9,10.0 [5.2-17.9],NaN,WHO Global Anaemia estimates. Prevalence of an...,EN,2025-04-28T16:00:00.000Z
1,NUTRITION_ANAEMIA_REPRODUCTIVEAGE_PREV,Prevalence of anaemia in women of reproductive...,text,AMR,Americas,Country,USA,United States of America,Year,2023,...,NaN,NaN,4.7,NaN,18.5,10.2 [4.7-18.5],NaN,WHO Global Anaemia estimates. Prevalence of an...,EN,2025-04-28T16:00:00.000Z
2,NUTRITION_ANAEMIA_REPRODUCTIVEAGE_PREV,Prevalence of anaemia in women of reproductive...,text,AMR,Americas,Country,GTM,Guatemala,Year,2023,...,NaN,NaN,5.6,NaN,18.4,10.5 [5.6-18.4],NaN,WHO Global Anaemia estimates. Prevalence of an...,EN,2025-04-28T16:00:00.000Z
3,NUTRITION_ANAEMIA_REPRODUCTIVEAGE_PREV,Prevalence of anaemia in women of reproductive...,text,WPR,Western Pacific,Country,AUS,Australia,Year,2023,...,NaN,NaN,4.0,NaN,22.6,11.0 [4.0-22.6],NaN,WHO Global Anaemia estimates. Prevalence of an...,EN,2025-04-28T16:00:00.000Z
4,NUTRITION_ANAEMIA_REPRODUCTIVEAGE_PREV,Prevalence of anaemia in women of reproductive...,text,WPR,Western Pacific,Country,AUS,Australia,Year,2023,...,NaN,NaN,4.2,NaN,22.6,11.1 [4.2-22.6],NaN,WHO Global Anaemia estimates. Prevalence of an...,EN,2025-04-28T16:00:00.000Z

In [12]:
southeast_asia = [
    "Brunei Darussalam",
    "Cambodia",
    "Indonesia",
    "Lao PDR",
    "Malaysia",
    "Myanmar",
    "Philippines",
    "Singapore",
    "Thailand",
    "Timor-Leste",
    "Viet Nam"
]
# filter SEA countries
SEA_Anemia_Women = Anemia_Women.query("`Location` in @southeast_asia")

In [13]:
# rename columns
SEA_Anemia_Women = SEA_Anemia_Women.rename(columns={
                                                    'Dim1': 'Sex',
                                                    'Dim2': 'Pregnancy Status',
                                                })
# sort values
SEA_Anemia_Women.sort_values(by=['Period','Location','Pregnancy Status'], ascending=True)

,IndicatorCode,Indicator,ValueType,ParentLocationCode,ParentLocation,Location type,SpatialDimValueCode,Location,Period type,Period,...,FactValueUoM,FactValueNumericLowPrefix,FactValueNumericLow,FactValueNumericHighPrefix,FactValueNumericHigh,Value,FactValueTranslationID,FactComments,Language,DateModified
13441,NUTRITION_ANAEMIA_REPRODUCTIVEAGE_PREV,Prevalence of anaemia in women of reproductive...,text,WPR,Western Pacific,Country,BRN,Brunei Darussalam,Year,2000,...,NaN,NaN,7.5,NaN,33.3,17.6 [7.5-33.3],NaN,WHO Global Anaemia estimates. Prevalence of an...,EN,2025-04-28T16:00:00.000Z
13674,NUTRITION_ANAEMIA_REPRODUCTIVEAGE_PREV,Prevalence of anaemia in women of reproductive...,text,WPR,Western Pacific,Country,BRN,Brunei Darussalam,Year,2000,...,NaN,NaN,21.6,NaN,38.8,30.5 [21.6-38.8],NaN,WHO Global Anaemia estimates. Prevalence of an...,EN,2025-04-28T16:00:00.000Z
13448,NUTRITION_ANAEMIA_REPRODUCTIVEAGE_PREV,Prevalence of anaemia in women of reproductive...,text,WPR,Western Pacific,Country,BRN,Brunei Darussalam,Year,2000,...,NaN,NaN,8.3,NaN,33.4,18.2 [8.3-33.4],NaN,WHO Global Anaemia estimates. Prevalence of an...,EN,2025-04-28T16:00:00.000Z
13853,NUTRITION_ANAEMIA_REPRODUCTIVEAGE_PREV,Prevalence of anaemia in women of reproductive...,text,WPR,Western Pacific,Country,KHM,Cambodia,Year,2000,...,NaN,NaN,33.9,NaN,57.8,45.6 [33.9-57.8],NaN,WHO Global Anaemia estimates. Prevalence of an...,EN,2025-04-28T16:00:00.000Z
13922,NUTRITION_ANAEMIA_REPRODUCTIVEAGE_PREV,Prevalence of anaemia in women of reproductive...,text,WPR,Western Pacific,Country,KHM,Cambodia,Year,2000,...,NaN,NaN,47.3,NaN,64.8,56.6 [47.3-64.8],NaN,WHO Global Anaemia estimates. Prevalence of an...,EN,2025-04-28T16:00:00.000Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,NUTRITION_ANAEMIA_REPRODUCTIVEAGE_PREV,Prevalence of anaemia in women of reproductive...,text,SEAR,South-East Asia,Country,TLS,Timor-Leste,Year,2023,...,NaN,NaN,16.6,NaN,47.0,30.7 [16.6-47.0],NaN,WHO Global Anaemia estimates. Prevalence of an...,EN,2025-04-28T16:00:00.000Z
357,NUTRITION_ANAEMIA_REPRODUCTIVEAGE_PREV,Prevalence of anaemia in women of reproductive...,text,SEAR,South-East Asia,Country,TLS,Timor-Leste,Year,2023,...,NaN,NaN,14.0,NaN,50.9,29.7 [14.0-50.9],NaN,WHO Global Anaemia estimates. Prevalence of an...,EN,2025-04-28T16:00:00.000Z
135,NUTRITION_ANAEMIA_REPRODUCTIVEAGE_PREV,Prevalence of anaemia in women of reproductive...,text,WPR,Western Pacific,Country,VNM,Viet Nam,Year,2023,...,NaN,NaN,8.0,NaN,38.9,20.4 [8.0-38.9],NaN,WHO Global Anaemia estimates. Prevalence of an...,EN,2025-04-28T16:00:00.000Z
264,NUTRITION_ANAEMIA_REPRODUCTIVEAGE_PREV,Prevalence of anaemia in women of reproductive...,text,WPR,Western Pacific,Country,VNM,Viet Nam,Year,2023,...,NaN,NaN,11.1,NaN,38.2,25.3 [11.1-38.2],NaN,WHO Global Anaemia estimates. Prevalence of an...,EN,2025-04-28T16:00:00.000Z
136,NUTRITION_ANAEMIA_REPRODUCTIVEAGE_PREV,Prevalence of anaemia in women of reproductive...,text,WPR,Western Pacific,Country,VNM,Viet Nam,Year,2023,...,NaN,NaN,8.5,NaN,38.7,20.5 [8.5-38.7],NaN,WHO Global Anaemia estimates. Prevalence of an...,EN,2025-04-28T16:00:00.000Z

In [14]:
SEA_Anemia_Women.columns

Index(['IndicatorCode', 'Indicator', 'ValueType', 'ParentLocationCode',
       'ParentLocation', 'Location type', 'SpatialDimValueCode', 'Location',
       'Period type', 'Period', 'IsLatestYear', 'Dim1 type', 'Sex',
       'Dim1ValueCode', 'Dim2 type', 'Pregnancy Status', 'Dim2ValueCode',
       'Dim3 type', 'Dim3', 'Dim3ValueCode', 'DataSourceDimValueCode',
       'DataSource', 'FactValueNumericPrefix', 'FactValueNumeric',
       'FactValueUoM', 'FactValueNumericLowPrefix', 'FactValueNumericLow',
       'FactValueNumericHighPrefix', 'FactValueNumericHigh', 'Value',
       'FactValueTranslationID', 'FactComments', 'Language', 'DateModified'],
      dtype='object')

In [15]:
SEA_Anemia_Women = SEA_Anemia_Women[['Indicator', 'SpatialDimValueCode', 'Location', 'Period', 'Sex', 'Pregnancy Status', 'FactValueNumeric']]
SEA_Anemia_Women

,Indicator,SpatialDimValueCode,Location,Period,Sex,Pregnancy Status,FactValueNumeric
5,Prevalence of anaemia in women of reproductive...,PHL,Philippines,2023,Female,Non-pregnant women (aged 15-49 years),11.6
6,Prevalence of anaemia in women of reproductive...,PHL,Philippines,2023,Female,Women of reproductive age (aged 15-49 years),12.0
90,Prevalence of anaemia in women of reproductive...,SGP,Singapore,2023,Female,Non-pregnant women (aged 15-49 years),16.6
91,Prevalence of anaemia in women of reproductive...,SGP,Singapore,2023,Female,Women of reproductive age (aged 15-49 years),16.6
101,Prevalence of anaemia in women of reproductive...,SGP,Singapore,2023,Female,Pregnant women (aged 15-49 years),16.9
...,...,...,...,...,...,...,...
13842,Prevalence of anaemia in women of reproductive...,MMR,Myanmar,2000,Female,Women of reproductive age (aged 15-49 years),43.6
13853,Prevalence of anaemia in women of reproductive...,KHM,Cambodia,2000,Female,Non-pregnant women (aged 15-49 years),45.6
13859,Prevalence of anaemia in women of reproductive...,KHM,Cambodia,2000,Female,Women of reproductive age (aged 15-49 years),46.4
13913,Prevalence of anaemia in women of reproductive...,MMR,Myanmar,2000,Female,Pregnant women (aged 15-49 years),55.5
13922,Prevalence of anaemia in women of reproductive...,KHM,Cambodia,2000,Female,Pregnant women (aged 15-49 years),56.6

In [16]:
SEA_Anemia_Women['Pregnancy Status'].unique()

array(['Non-pregnant women (aged 15-49 years)',
       'Women of reproductive age (aged 15-49 years)',
       'Pregnant women (aged 15-49 years)'], dtype=object)

In [17]:
# non-pregnant
SEA_Anemia_Women_NPW = SEA_Anemia_Women[SEA_Anemia_Women['Pregnancy Status'] == 'Non-pregnant women (aged 15-49 years)']
SEA_Anemia_Women_NPW.sort_values(by=['Period','Location',], ascending=True)

,Indicator,SpatialDimValueCode,Location,Period,Sex,Pregnancy Status,FactValueNumeric
13441,Prevalence of anaemia in women of reproductive...,BRN,Brunei Darussalam,2000,Female,Non-pregnant women (aged 15-49 years),17.6
13853,Prevalence of anaemia in women of reproductive...,KHM,Cambodia,2000,Female,Non-pregnant women (aged 15-49 years),45.6
13698,Prevalence of anaemia in women of reproductive...,IDN,Indonesia,2000,Female,Non-pregnant women (aged 15-49 years),31.3
13751,Prevalence of anaemia in women of reproductive...,MYS,Malaysia,2000,Female,Non-pregnant women (aged 15-49 years),33.2
13837,Prevalence of anaemia in women of reproductive...,MMR,Myanmar,2000,Female,Non-pregnant women (aged 15-49 years),42.9
...,...,...,...,...,...,...,...
5,Prevalence of anaemia in women of reproductive...,PHL,Philippines,2023,Female,Non-pregnant women (aged 15-49 years),11.6
90,Prevalence of anaemia in women of reproductive...,SGP,Singapore,2023,Female,Non-pregnant women (aged 15-49 years),16.6
138,Prevalence of anaemia in women of reproductive...,THA,Thailand,2023,Female,Non-pregnant women (aged 15-49 years),20.6
356,Prevalence of anaemia in women of reproductive...,TLS,Timor-Leste,2023,Female,Non-pregnant women (aged 15-49 years),29.6
135,Prevalence of anaemia in women of reproductive...,VNM,Viet Nam,2023,Female,Non-pregnant women (aged 15-49 years),20.4

In [18]:
SEA_Anemia_Women_NPW.dtypes

Indicator               object
SpatialDimValueCode     object
Location                object
Period                   int64
Sex                     object
Pregnancy Status        object
FactValueNumeric       float64
dtype: object

In [19]:
SEA_Anemia_Women_NPW_['Year_Date'] = pd.to_datetime(SEA_Anemia_Women_NPW['Period'].astype(str) + '-01-01')

NameError: name 'SEA_Anemia_Women_NPW_' is not defined

In [20]:
# pregnant
SEA_Anemia_Women_PW = SEA_Anemia_Women[SEA_Anemia_Women['Pregnancy Status'] == 'Pregnant women (aged 15-49 years)']
SEA_Anemia_Women_PW.sort_values(by=['Period','Location',], ascending=True)

,Indicator,SpatialDimValueCode,Location,Period,Sex,Pregnancy Status,FactValueNumeric
13674,Prevalence of anaemia in women of reproductive...,BRN,Brunei Darussalam,2000,Female,Pregnant women (aged 15-49 years),30.5
13922,Prevalence of anaemia in women of reproductive...,KHM,Cambodia,2000,Female,Pregnant women (aged 15-49 years),56.6
13813,Prevalence of anaemia in women of reproductive...,IDN,Indonesia,2000,Female,Pregnant women (aged 15-49 years),38.6
13785,Prevalence of anaemia in women of reproductive...,MYS,Malaysia,2000,Female,Pregnant women (aged 15-49 years),35.6
13913,Prevalence of anaemia in women of reproductive...,MMR,Myanmar,2000,Female,Pregnant women (aged 15-49 years),55.5
...,...,...,...,...,...,...,...
212,Prevalence of anaemia in women of reproductive...,PHL,Philippines,2023,Female,Pregnant women (aged 15-49 years),24.0
101,Prevalence of anaemia in women of reproductive...,SGP,Singapore,2023,Female,Pregnant women (aged 15-49 years),16.9
207,Prevalence of anaemia in women of reproductive...,THA,Thailand,2023,Female,Pregnant women (aged 15-49 years),23.8
375,Prevalence of anaemia in women of reproductive...,TLS,Timor-Leste,2023,Female,Pregnant women (aged 15-49 years),30.7
264,Prevalence of anaemia in women of reproductive...,VNM,Viet Nam,2023,Female,Pregnant women (aged 15-49 years),25.3

In [21]:
GINI = pd.read_csv(r'C:\Users\Leon Pascual\Documents\GitHub\CPE311_Computational-Thinking-with-Python\Final\ADSE\datasets\API_SI.POV.GINI_DS2_en_csv_v2_131994\GINI Index.csv', skiprows=4)
GINI.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,Unnamed: 69
0,Aruba,ABW,Gini index,SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Gini index,SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,Gini index,SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa Western and Central,AFW,Gini index,SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,AGO,Gini index,SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,51.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN